/* src/components/admin/common/Sidebar/Sidebar.css */
.sidebar {
  width: 200px; /* Default expanded width */
  height: 100vh;
  position: fixed;
  background-color: #ffffff;
  transition: width 0.3s;
  box-shadow: 2px 0px 10px rgba(84, 85, 84, 0.3);
}
.erp {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.logo {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 80%;
  transition: width 0.3s;
}

.nav {
  margin-top: 20px;
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 20px 20px;
  color: #34495e;
  text-decoration: none;
  border-bottom: 1px solid #666;
  position: relative; /* For positioning the border */
}

.nav-link:first-child {
  border-top: 1px solid #666;
}

.nav-link::after {
  content: "";
  display: block;
  border-bottom: 10px solid #666; /* Adjust as needed */
}

.nav-link svg {
  width: 20px;
  height: 20px;
}

.nav-link:hover {
  background-color: #34495e;
  color: #fff;
}

.nav-link .link-text {
  margin-left: 10px;
}

/* Style for active link */
.nav-link-active {
  border-right: 5px solid #0a75e0; /* Add border to right of active link */
}

/* Collapse styles */
.sidebar.collapsed {
  width: 60px; /* Collapsed width */
}

.sidebar.collapsed .logo img {
  width: 40px; /* Adjust logo size when collapsed */
}

.sidebar.collapsed .nav-link .link-text {
  display: none; /* Hide text when collapsed */
}

/* Automatically collapse sidebar on small screens */
@media (max-width: 768px) {
  .sidebar {
    width: 60px; /* Collapsed width for small screens */
  }

  .sidebar.expanded {
    width: 200px; /* Expanded width for small screens */
  }
}
