.header {
  height: 60px;
  background-color: #0f75bc;
  color: #ecf0f1;
  display: flex;
  align-items: center;
  padding: 0 20px;
  transition: margin-left 0.3s;
  position: relative; /* Add relative positioning */
}

.collapse-btn {
  background: none;
  border: none;
  color: #ecf0f1;
  font-size: 24px;
  cursor: pointer;
  margin-right: 20px;
}

.profile-menu {
  margin-left: auto; /* Push profile menu to the right */
}
