/* src/pages/admin/Dashboard/Dashboard.css */
.dashboard {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  transition: width 0.3s;
}

.main-content {
  flex: 1;
  margin-left: 200px; /* Default expanded width of the sidebar */
  transition: margin-left 0.3s;
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto; /* Push footer to the bottom */
}

/* Adjust main content margin based on sidebar state */
.dashboard.collapsed .main-content {
  margin-left: 60px; /* Collapsed width of the sidebar */
}

@media (max-width: 768px) {
  .main-content {
    margin-left: 60px; /* Adjust for small screens when sidebar is collapsed */
  }

  .dashboard.expanded .main-content {
    margin-left: 200px; /* Adjust for small screens when sidebar is expanded */
  }
}
